<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProjetoFinalEntities" connectionString="metadata=res://*/DataSource.Entidade.csdl|res://*/DataSource.Entidade.ssdl|res://*/DataSource.Entidade.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProjetoFinal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ProjetoFinal.Properties.Settings.ProjetoFinalConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=ProjetoFinal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>